<div class="navbar navbar-inverse" role="navigation" style="border-radius: 0px">
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><img src="../../../assets/BioFlow.png" width="100" height="auto" vspace="5"/></li>
        <li class="active"><a routerLink="/home">Home</a></li>
        <li><a href="javascript:void(0);" (click)="openHelpModal()">Help</a></li>
      </ul>
    </div>
  </div>
</div>
<br>
<div>
  <div class="col-sm-3">

    <div class="form-group">
      <label for="userIdType">Type:</label>
      <input id="userIdType" type="text" name="product" list="productName" class="selectpicker" class="form-control"/>
      <datalist id="productName">
        <option value="Pen">Pen</option>
        <option value="Pencil">Pencil</option>
        <option value="Paper">Paper</option>
      </datalist>
    </div>

    <hr>

    <app-tree-view (select)="selectTree($event)"></app-tree-view>

    <hr>

    <div class="panel panel-default">
      <div class="panel-body" id="description"><b>Description: </b>{{activeTreeItem ? activeTreeItem.description :
        ''}}<span id="text"></span>
      </div>
    </div>
    <hr>
    <div>
      <button type="button" class="btn btn-block" (click)="addStep()"
              [disabled]="!activeTreeItem || !activeTreeItem.isStep">
        Add
        <i class='glyphicon glyphicon-info-sign' data-toggle="popover" data-trigger="hover" data-placement="right"
           data-content="Select a component and click here to add it"></i>
      </button>
    </div>
    <br>
    <div>

      <button type="button" class="btn btn-block" (click)="execute()">
        Execute
        <i class='glyphicon glyphicon-info-sign' data-toggle="popover" data-trigger="hover" data-placement="right"
           data-content="Click here to view results"></i>
      </button>

    </div>
  </div>
  <div class="col-sm-9">
    <app-drawing-board></app-drawing-board>
  </div>
  <div class="col-sm-12">
    <br>
    <app-pairwise-blast></app-pairwise-blast>
    <app-clustal-omega-msa></app-clustal-omega-msa>
  </div>
</div>


<!-- START HOME PAGE MODALS -->

<!-- Modal -->
<div modal="hom-page-help" class="modal fade" role="dialog">
  <div class="modal-dialog" style="z-index: 9999999">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bioflow Help Desk</h4>
      </div>
      <div *ngIf="helpStep==1" class="modal-body" ngTemplateOutlet="">
        <h3>Taking user input to the work flow</h3>
        <hr>
        <ol>
          <li>Click on User Input</li>
          <li>Add it to the Canvas</li>
          <li>Click on sequence
            <ul>
              <li>Add a test sequence</li>
              <li>Add multiple sequences for MSA</li>
            </ul>
          </li>
          <li>Paste your sequence</li>
          <hr>
          <img class="img-responsive" src="/assets/drawing-page/user-input.png" alt="">
        </ol>

      </div>

      <div *ngIf="helpStep==2" class="modal-body">
        <h3>Connecting components in the work flow</h3>
        <hr>
        <ol>
          <li>Add two or more components</li>
          <hr>
          <img class="img-responsive" src="/assets/drawing-page/connect-1.png" alt="">
          <hr>
          <li>Click on one component</li>
          <hr>
          <img class="img-responsive" src="/assets/drawing-page/connect-2.png" alt="">
          <hr>
          <li>Click on the other component</li>
          <hr>
          <img class="img-responsive" src="/assets/drawing-page/connect-3.png" alt="">
        </ol>
      </div>

      <div *ngIf="helpStep==3" class="modal-body">
        <h3>Visualizing resulting DNA sequences</h3>
        <hr>
        <ol>
          <li>Add User Input component</li>
          <li>Add Clustal Omega components (For MSA)</li>
          <li>Connect to Visualize component</li>
          <hr>
          <img class="img-responsive" src="/assets/drawing-page/vis-1.png" alt="">
          <hr>
          <li>Enter the sequences in the User Input</li>
          <hr>
          <img class="img-responsive" src="/assets/drawing-page/vis-2.png" alt="">
          <hr>
          <li>Press Execute</li>
          <hr>
          <img class="img-responsive" src="/assets/drawing-page/vis-3.png" alt="">
          <hr>
          <li>Visualization can be seen at the bottom</li>
          <hr>
          <img class="img-responsive" src="/assets/drawing-page/vis-4.png" alt="">
        </ol>
      </div>

      <div class="modal-footer">
        <div class="text-center">
          <button (click)="prevHelpModalStep()" type="button" class="btn btn-clear"><<</button>
          <button (click)="nextHelpModalStep()" type="button" class="btn btn-clear">>></button>
        </div>
        <br>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- END HOME PAGE MODALS -->
