<div class="navbar navbar-inverse" role="navigation" style="border-radius: 0px">
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><img src="../../../assets/BioFlow.png" width="100" height="auto" vspace="5"/></li>
        <li class="active"><a routerLink="/home">Home</a></li>
        <li><a href="javascript:void(0);" (click)="openHelpModal()">Help</a></li>
      </ul>
    </div>
  </div>
</div>
<br>
<div>
  <div class="col-sm-3">

    <div class="form-group">
      <label for="userIdType">Type:</label>
      <input id="userIdType" type="text" name="product" list="productName" class="selectpicker" class="form-control"/>
      <datalist id="productName">
        <option value="Pen">Pen</option>
        <option value="Pencil">Pencil</option>
        <option value="Paper">Paper</option>
      </datalist>
    </div>

    <hr>

    <app-tree-view (select)="selectTree($event)"></app-tree-view>

    <hr>

    <div class="panel panel-default">
      <div class="panel-body" id="description"><b>Description: </b>{{activeTreeItem ? activeTreeItem.description :
        ''}}<span id="text"></span>
      </div>
    </div>
    <hr>
    <div>
      <button type="button" class="btn btn-block" (click)="addStep()"
              [disabled]="!activeTreeItem || !activeTreeItem.isStep">
        Add
        <i class='glyphicon glyphicon-info-sign' data-toggle="popover" data-trigger="hover" data-placement="right"
           data-content="Select a component and click here to add it"></i>
      </button>
    </div>
    <br>
    <div>

      <button type="button" class="btn btn-block" (click)="execute()">
        Execute
        <i class='glyphicon glyphicon-info-sign' data-toggle="popover" data-trigger="hover" data-placement="right"
           data-content="Click here to view results"></i>
      </button>

    </div>
  </div>
  <div class="col-sm-9">
    <app-drawing-board></app-drawing-board>
  </div>
  <div class="col-sm-12">
    <br>
    <app-pairwise-blast></app-pairwise-blast>
    <app-clustal-omega-msa></app-clustal-omega-msa>
  </div>
</div>
<app-home-page-help-modal></app-home-page-help-modal>
