#main_nav {
	border-radius: 0px;
}

.drag-comp {
  position: absolute;
  /*width: 25px;
  height: 50px;*/
  /*min-height: 6.5em;*/
  /*margin: 10%;*/

  background-color: #beebff;
  color: #222;

  border: 1px solid transparent;
  /*border-radius: 1em;*/
  border-color: #777;
  padding: 1%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.inner-btn {
  width: 100%;
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

#diagramContainer {
    padding: 20px;
    width:80%; height: 400px;
    border: 1px solid gray;
}

.item {
    height:80px; width: 80px;
    border: 1px solid blue;
    float: left;
}

.modal-dialog {
   position: relative;
   top: 100px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}